{% extends "layouts/layout.html" %}
  {% block title %}Contact | {% endblock %}


{% block content %}

  <div class="background-contact">
  </div>

  <div class="contact-container">
    <div class="contact-box">
      <div class="contact-text">
        <h1 class="contact-title">Contact</h1>
        <li>Email: mymail@gmail.com</li>
        <li>Phone: +49 1234 5678</li>
        <li>Press kit: <a href="static/doc/Cats essay.pdf" download="cats_are_cool">Download here</a></li>
        <li>Social Media:</li>
        <a href="https://www.facebook.com/jonnyvomdahlmusik/" target="_blank" class="fa fa-facebook"></a>
        <a href="https://www.youtube.com/channel/UCoiuwoIAQn2J11X9WErfE7A" target="_blank" class="fa fa-youtube"></a>
        <a href="https://www.instagram.com/jonnyvomdahl/" target="_blank" class="fa fa-instagram"></a>

      </div>


    </div>
  </div>

{% endblock %}
