{% extends "layouts/layout.html" %}
  {% block title %}Live | {% endblock %}


{% block content %}

  <div class="background-live-music">
  </div>

  <div class="live-container" id="squash-container">
    <div class="live-box">
      <h1 class="live-title">Live</h1>
      <div class="live-row">
        <div class="live-column">
          <p class="show-info">31/02/2020</p>
          <p class="show-info">31/04/2020</p>
          <p class="show-info">31/07/2020</p>
          <p class="show-info">31/09/2020</p>
          </div>
        <div class="live-column">
          <p class="show-info">Military Base</p>
          <p class="show-info">Atlantis Stadium</p>
          <p class="show-info">ShirKahr</p>
          <p class="show-info">Kim Jong Un's Palace</p>
          </div>
        <div class="live-column">
          <p class="show-info">Area 51, USA</p>
          <p class="show-info">Atlantic Ocean</p>
          <p class="show-info">Planet Vulcan</p>
          <p class="show-info">Pyongyang, North Korea</p>
          </div>
        <div class="live-column">
          <p class="show-info"><a href='https://youtu.be/vS1ZohQziGY' target="_blank"><button type="button" class="ticket-button">Tickets</button></a></p>
          <p class="show-info"><a href='https://youtu.be/68bNRrD-b1k' target="_blank"><button type="button" class="ticket-button">Tickets</button></a></p>
          <p class="show-info"><a href='https://youtu.be/oiSn2JuDQSc' target="_blank"><button type="button" class="ticket-button">Tickets</button></a></p>
          <p class="show-info"><a href='https://youtu.be/QbC6dLG_dQY' target="_blank"><button type="button" class="ticket-button">Tickets</button></a></p>
        </div>
        </div>
      </div>
  </div>

{% endblock %}
