{% extends "layouts/layout.html" %}
  {% block title %}Music | {% endblock %}


{% block content %}

  <div class="background-live-music">
  </div>

    <div class="music-container" id="squash-container">
      <div class="music-box">
        <div class="music-table">
        <div class="music-row">
          <div class="music-column" id="music-column-left">
            <h1 class="music-title">Music</h1>
            <iframe id="OriginalSpotify" class="spotify-player" src="https://open.spotify.com/embed/artist/6E9zde1CFsBtKI66OEHkk3" frameborder="0" allowtransparency="true" allow="encrypted-media">
            </iframe>
            <button onclick="mostPopular()" class="music-back">Most Popular Songs</button>
          </div>
          <div class="music-column" id="music-column-right">
            <div class="album">
              <h3 class="album-text">Choose by album</h3>
              <button onclick="changeAlbum1()" class="album-cover" id="ahri"></button>
              <button onclick="changeAlbum2()" class="album-cover" id="bard"></button>
              <button onclick="changeAlbum3()" class="album-cover" id="camille"></button>
              <button onclick="changeAlbum4()" class="album-cover" id="diana"></button>
            </div>
          </div>
        </div>
        </div>
     </div>
    </div>

{% endblock %}
