<!DOCTYPE html>
<html lang="en">
<head>

  <title>Javiera Spicto | Freelance Artist </title>
  <link href="static/css/v2.css" type="text/css" rel="stylesheet">
  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/img/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/static/img/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
  <link rel="manifest" href="static/img/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="static/img/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="//db.onlinewebfonts.com/c/6ae8ca760abf8e46c2e4c35f480b6bc9?family=Dulcinea" rel="stylesheet" type="text/css"/>

  <style>

    @font-face { font-family: Magical-Stylish; src: url('static/fonts/Magical-Stylish.otf'); }
    @font-face {font-family: "Dulcinea"; src: url("//db.onlinewebfonts.com/t/6ae8ca760abf8e46c2e4c35f480b6bc9.eot"); src: url("//db.onlinewebfonts.com/t/6ae8ca760abf8e46c2e4c35f480b6bc9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6ae8ca760abf8e46c2e4c35f480b6bc9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6ae8ca760abf8e46c2e4c35f480b6bc9.woff") format("woff"), url("//db.onlinewebfonts.com/t/6ae8ca760abf8e46c2e4c35f480b6bc9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6ae8ca760abf8e46c2e4c35f480b6bc9.svg#Dulcinea") format("svg"); }
    @font-face { font-family: Coves; src: url('static/fonts/Coves.otf'); }
    @font-face { font-family: Lato-Thin; src: url('static/fonts/Lato-Thin.ttf'); }

  </style>
</head>

<!-- Main -->

<body>
  <header class="header">
    <div class="topnav">
      <a class="active" href="#home">Main</a>
      <a href="#about">About</a>
      <a href="#artwork">Artwork</a>
      <a href="#contact">Contact Me</a>
    </div>

  </header>

<section class = "welcome" id="home">
  <div class="main">
    <img src="static/img/face.jpg" class="main_img">
    <p class="main_title">
      Javiera Spicto
    </p>
    <p class="subtitle">Freelance Artist and Model</p>
  </div>
</section>

<!-- Intro -->

<section class="content" id="about">
  <div class="intro_content">
    <div class="intro_text">
      <p class="main_description"><img class="intro_image" src="static/img/intro_pic.jpg" width="500" height="430" alt="">Lorem ipsum dolor sit amet consectetur adipiscing elit gravida nec maecenas parturient, diam penatibus volutpat ad posuere netus pellentesque risus proin. Natoque dignissim scelerisque litora metus consequat sed, est arcu mattis penatibus massa nisi et, libero aenean ad conubia lobortis. Lobortis vehicula varius eget orci sem fames taciti vestibulum, litora dui mauris enim vulputate duis nisi, ac nec class netus curabitur placerat at.

Nisl pretium metus netus hendrerit justo urna vitae suspendisse nisi habitant, dui curae elementum odio dictumst libero ultrices proin.</p>
    </div>
  </div>

</section>

  <!-- Quote -->

  <section class="first_quote">
    <h2 class="title">"Art is the only thing that machines will never replace"</h2>
  </section>

  <!-- Drawings -->

  <section class="collage" id="artwork">
    <!-- Slideshow container -->
  <div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 10</div>
    <img src="static/img/dibujo01.jpg" style="width:100%; height:125%">
    <div class="text">Sight</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 610</div>
    <img src="static/img/dibujo02.jpg" style="width:100%; height:125%">
    <div class="text">Meditation</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 10</div>
    <img src="static/img/dibujo03.jpg" style="width:100%; height:125%">
    <div class="text">Oblivion</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">4 / 10</div>
    <img src="static/img/dibujo04.jpg" style="width:100%; height:125%">
    <div class="text">Never let me go</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">5 / 10</div>
    <img src="static/img/dibujo05.jpg" style="width:100%; height:125%">
    <div class="text">Saudade</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">6 / 10</div>
    <img src="static/img/dibujo06.jpg" style="width:100%; height:125%">
    <div class="text">Void</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">7 / 10</div>
    <img src="static/img/dibujo07.jpg" style="width:100%; height:125%">
    <div class="text">Universe</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">8 / 10</div>
    <img src="static/img/dibujo08.jpg" style="width:100%; height:125%">
    <div class="text">Time</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">9 / 10</div>
    <img src="static/img/dibujo09.jpg" style="width:100%; height:125%">
    <div class="text">Moonlight</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">10 / 10</div>
    <img src="static/img/dibujo10.jpg" style="width:100%; height:125%">
    <div class="text">Reborn</div>
  </div>


  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span>
  <span class="dot" onclick="currentSlide(8)"></span>
  <span class="dot" onclick="currentSlide(9)"></span>
  <span class="dot" onclick="currentSlide(10)"></span>
</div>
  </section>

<!-- Background scroll section -->

<section class="scroll_section" id="scrollSection">

  <div class="stickystuff">

    <div class="scroll_title" id="myScrollTitle">
      <h2>"Art is the purest expression of life"</h2>
    </div>

    <div class="scroll_content">
      <img class="scroll_img1" src="/static/img/scroll01.jpg">
      <img class="scroll_img2" src="/static/img/scroll02.jpg">
      <img class="scroll_img3" src="/static/img/scroll03.jpg">
      <img class="scroll_img4" src="/static/img/scroll04.jpg">
    </div>
  </div>


</section>


<!-- Contact Info -->

<section class = "final">

<div class="contact_info" id="contact">
    <h3 class="contact_title">Contact</h3>
    <div class="contact_content">
      <div class="social_net">
        <h2>Social Media</h2>
        <a href="https://www.facebook.com/javi.spore" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/croquera1393/" class="fa fa-instagram"></a>
      </div>

      <div class="message_box">
      <div class="container">
        <form action="action_page.php">

        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name...">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name...">

        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something..." style="height:130px"></textarea>

        <input type="submit" value="Submit">

        </form>
      </div>
    </div>
    </div>
  </div>
</section>
  <div class="footer">
    <p class="footer_text"> © 2019 Javiera Spicto.  All rights reserved. <p>
  </div>
  <script type="text/javascript" src="static/js/v2.js"></script>
</body>
</html>
